<ul>
    <li>
        <a href="{backPath}../../" title="View all packages of vendor">
            {viewHelper.schema.schema.vendor.vendorName}{schema.schema.vendor.vendorName}{vendor.vendorName}
        </a>
    </li>
    <li>
        <a href="{backPath}../" title="View all versions of package">
            {viewHelper.schema.schema.package.packageName}{schema.schema.package.packageName}{package.packageName}
        </a>
    </li>
    <li>
        <a href="{backPath}" title="Go to root of this package version">
            {viewHelper.schema.schema.version.version}{schema.schema.version.version}{version.version}
        </a>
    </li>
</ul>
